<a href="https://colab.research.google.com/github/hyemiJ/data-dynamics/blob/main/python_practice/%20_03_%EC%B4%88%EB%B3%B4%EC%9E%90%EB%A5%BC_%EC%9C%84%ED%95%9C_python_200%EC%A0%9C_%EB%A6%AC%EC%8A%A4%ED%8A%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#순차적 리스트 생성
range1 = range(10)
print(list(range1))

result = 0
for i in range(10):
  result +=i
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
45

In [ ]:
#리스트 특정 위치 요소 찾기
lst = [1, 2, 3, [1, 'a']]
value1 = lst[0]
value2 = lst[3][1]
print(value1,value2)

1 a

In [ ]:
#리스트의 특정 요소 위치 구하기
lst = [1, 2, 3, 4, 5, 4, 3, 2, 1]
find_me = 2
print('find_me의 인덱스 위치는 ? :',lst.index(find_me))
print('find_me의 lst[5]이후의 인덱스 위치는 ? :',lst.index(find_me,5))

find_me의 인덱스 위치는 ? : 1
find_me의 lst[5]이후의 인덱스 위치는 ? : 7

In [ ]:
#리스트 특정 구간 요소 추출
first_lst = lst[:4]
second_lst = lst[4:]
print('1.',first_lst)
print('2.',second_lst)

1. [1, 2, 3, 4]
2. [5, 4, 3, 2, 1]

In [ ]:
#리스트 step 활용
lst = list(range(1,21))
even_lst = lst[1::2]
print(even_lst)
odd_list = lst[::2]
print(odd_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
# 리스트의 역정렬 ,resversed. (list_name.reverse() =>원본이 변경됨의 유의)
lst = [1, 3, 5, 2, 4]
lst2 = reversed(lst) # reversed는 역순으로 순환할 수 있는 iterator객체를 반환. 사용하기 위해서는 list로 형변환이 필요 원본 데이터를 변경하지 않음.
lst3 = lst[::-1] # 슬라이싱을 활용하여 reversed와 같은 결과가 출력됨.lst3 = lst[::-1] # 슬라이싱을 활용하여 reversed와 같은 결과가 출력됨.

print(lst)
print(list(lst2))
print(lst3)

[1, 3, 5, 2, 4]
[4, 2, 5, 3, 1]
[4, 2, 5, 3, 1]

In [ ]:
# 리스트 합치기
l1 = ['a', 'b', 'c']
l2 = [1, 2, 3]
l3 = l1 +l2
print(l3)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
# 리스트 반복하기
l3 = l2 * 2
print(l3)

[1, 2, 3, 1, 2, 3]

In [ ]:
#리스트에 요소 추가하기
lst = []
for i in range(3):
  lst.append(i)
print(lst)

[0, 1, 2]

In [ ]:
#입력값을 받아 요소 추가하기
lst =[]
while len(lst) <3:
  lst.append(input("리스트에 추가할 값을 입력하세요"))
  print(lst)

리스트에 추가할 값을 입력하세요1
['1']
리스트에 추가할 값을 입력하세요2
['1', '2']
리스트에 추가할 값을 입력하세요3
['1', '2', '3']

In [ ]:
# 리스트의 특정 위치에 요소 삽입하기
lst = [1, 2, 4, 5, 7]
idx = lst.index(2)+1
lst.insert(idx,3)
print(lst)
idx = lst.index(5)+1
lst.insert(idx,6)
print(lst)

[1, 2, 3, 4, 5, 7]
[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# 리스트의 특정 위치 요소 제거하기(del 키워드 사용 =>index를 활용)
lst = [1, 2, 2, 3, 4, 5, 5]
idx =lst.index(2)
del lst[idx]
idx =lst.index(5)
del lst[idx]
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
# 리스트에서 특정 위치 요소 제거하기(list_name.remove() =>값을 활용)
lst = [1, 2, 2, 3, 4, 5, 5]
lst.remove(2)
lst.remove(5)
print(lst)

[1, 2, 3, 4, 5]

In [ ]:
# 리스트에서 특정 구간 모든 요소 제거 (del 키워드 사용)
lst = [1, 2, 'a', 'b', 3, 4]
del lst[2:4]
print(lst)

[1, 2, 3, 4]

In [ ]:
#리스트에 있는 요소 갯수 구하기
lst = [1, 2, 3, 4, 2, 2, 1, 3, 4, 7, 1, 3]
print(len(lst))

12

In [ ]:
# 리스트에서 특정 요소 갯수 구하기
lst = [1, 2, 3, 4, 2, 2, 1, 3, 4, 7, 1, 3]
cnt = lst.count(2)
print(cnt)

3

In [ ]:
# 리스트 전체 제거
print(lst)
del lst
print(lst)

[1, 2, 3, 4, 2, 2, 1, 3, 4, 7, 1, 3]

NameError: name 'lst' is not defined

In [ ]:
#리스트 요소 정렬 (list_name.sort)
name_list = ['Marry', 'Bob', 'Sams', 'Tom', 'Kelly', 'Michale']
name_list.sort()
print(name_list)

['Bob', 'Kelly', 'Marry', 'Michale', 'Sams', 'Tom']

In [ ]:
#리스트 요소 정렬 (sorted(list_name,reverse=false) default가 false이다.)
name_list = ['Marry', 'Bob', 'Sams', 'Tom', 'Kelly', 'Michale']
l1 = sorted(name_list)
l2 = sorted(name_list,reverse=False)
l3 = sorted(name_list,reverse=True)
print(l1)
print(l2)
print(l3)
print(name_list) # 원본에 변화가 없다. 리스트를 정렬한 결과를 리스트의 형태로 리턴한다.

['Bob', 'Kelly', 'Marry', 'Michale', 'Sams', 'Tom']
['Bob', 'Kelly', 'Marry', 'Michale', 'Sams', 'Tom']
['Tom', 'Sams', 'Michale', 'Marry', 'Kelly', 'Bob']
['Marry', 'Bob', 'Sams', 'Tom', 'Kelly', 'Michale']

In [ ]:
#리스트 요소 무작위로 섞기
from random import shuffle

lst = list(range(1,11))
for i in range(3):
  shuffle(lst)
  print(lst) # 실행할때마다 결과가 달라짐.

[8, 5, 4, 9, 1, 6, 7, 3, 10, 2]
[8, 6, 4, 2, 5, 1, 10, 7, 3, 9]
[2, 5, 9, 10, 4, 6, 1, 7, 8, 3]

In [ ]:
#리스트의 모든 요소를 인덱스와 쌍으로 추출하기
name_list = ['Marry', 'Bob', 'Sams', 'Tom', 'Kelly', 'Michale']
result = list(enumerate(name_list))
print(result)
for i, name in result:
  print(f"{i}번째 {name}")

[(0, 'Marry'), (1, 'Bob'), (2, 'Sams'), (3, 'Tom'), (4, 'Kelly'), (5, 'Michale')]
0번째 Marry
1번째 Bob
2번째 Sams
3번째 Tom
4번째 Kelly
5번째 Michale

In [ ]:
#리스트의 모든 요소의 합 구하기
lst = [1, 5, 7, 9, 2, 5, 6, 9, 1, 5, 2, 9]
result = sum(lst)
print(result) # 숫자형에만 해당하며 , 숫자가 아닐경우 TypeError 발생

61

In [ ]:
#리스트의 요소가 모두 참인지 확인하기
l1 = [0, 1, 2, 3, 4]
l2 = [1, 2, 3, 4, 5]
l3 = [True, True, True]
l4 = ['',[],{},None,False,0]
print(all(l1)) # 숫자 0
print(all(l2))

print(all(l3))
print(all(l4))

False
True
True
False

In [ ]:
#리스트의 요소가 하나라도 참인지 확인하기
l1 = [0, 1, 2, 3, 4]
l2 = [1, 2, 3, 4, 5]
l3 = [True, True, True]
l4 = ['',[],{},None,False,0]
print(any(l1))
print(any(l2))
print(any(l3))
print(any(l4)) # 전부 거짓

True
True
True
False