<a href="https://colab.research.google.com/github/hyemiJ/data-dynamics/blob/main/python_practice/_04_%EC%B4%88%EB%B3%B4%EC%9E%90%EB%A5%BC_%EC%9C%84%ED%95%9C_python_200%EC%A0%9C_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#사전에 요소 추가하기
l1 = ['태양','수성', '금성', '지구', '화성']
l2 = ['Sun', 'Mercury', 'Venus', 'Earth', 'Mars']
result = {}
for i,value in enumerate(l1):
  result[value] = l2[i]
print(result)

{'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars'}

In [2]:
#사전 특정 요소값 변경
dic = {'A':1 , 'B':2, 'C':3}
dic['B'] = 4
print(dic)

{'A': 1, 'B': 4, 'C': 3}

In [3]:
#사전 특정 요소값 제거
dic = {'A':1 , 'B':2, 'C':3}
del dic['B']
print(dic)

{'A': 1, 'C': 3}

In [4]:
#사전 모든 요소값 제거 (빈 사전만들기)
dic = {'A':1 , 'B':2, 'C':3}
dic.clear()
print(dic)

{}

In [8]:
#사전의 키 추출하기
print('데이터:',result)
keys = result.keys()
print(keys) # 사전의 view 객체로 리턴한다. 순서가 없는 자료형임의 주의한다.

keys = list(result.keys()) # 리스트 형태로 저장.
print(keys)

데이터: {'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars'}
dict_keys(['태양', '수성', '금성', '지구', '화성'])
['태양', '수성', '금성', '지구', '화성']

In [9]:
#사전의 값 추출하기
print('데이터:',result)
values = result.values()
print(values) # 사전의 view 객체로 리턴한다. 순서가 없는 자료형임의 주의한다.

values = list(result.values()) # 리스트 형태로 저장.
print(values)

데이터: {'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars'}
dict_values(['Sun', 'Mercury', 'Venus', 'Earth', 'Mars'])
['Sun', 'Mercury', 'Venus', 'Earth', 'Mars']

In [12]:
#사전의 모든 요소 추출하기
print('데이터:',result)
items = result.items()
print(items) # 사전의 view 객체로 리턴한다. 순서가 없는 자료형임의 주의한다.

items = list(result.items()) # 튜플 리스트 형태로 저장.
print(items)
for k,v in items:
  print(k,v)

for k,v in result.items():
  print(k,v)

데이터: {'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars'}
dict_items([('태양', 'Sun'), ('수성', 'Mercury'), ('금성', 'Venus'), ('지구', 'Earth'), ('화성', 'Mars')])
[('태양', 'Sun'), ('수성', 'Mercury'), ('금성', 'Venus'), ('지구', 'Earth'), ('화성', 'Mars')]
태양 Sun
수성 Mercury
금성 Venus
지구 Earth
화성 Mars
태양 Sun
수성 Mercury
금성 Venus
지구 Earth
화성 Mars

In [14]:
#사전에 특정 키가 존재하는지 확인.
print('데이터:', result)
if '태양' in result:
  print('태양은 있음')
else:
  print('태양은 없음')

if '해왕성' in result:
  print('해왕성은 있음')
else:
  print('해왕성은 없음')

데이터: {'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars'}
태양은 있음
해왕성은 없음

In [21]:
# 사전 정렬하기(키나 값을 통해 오름차순 또는 내림차순의 정렬을 수행한다.)
dic = {'Marry':1002, 'Sams':2111, 'Aimy': 9231, 'Tom': 2024, 'Michale':2199}
print(sorted(dic)) # key를 기준으로 오름차순 정렬
print(sorted(dic, reverse=True)) # key를 기준으로 내림차순 정렬
print(sorted(dic, key=lambda x:dic[x])) # value를 기준으로 오름차순 정렬
print(sorted(dic, key=lambda x:dic[x], reverse=True)) # value를 기준으로 내림차순 정렬

print('*'*50)
print(sorted(dic.items(), reverse=True)) # key를 기준으로 내림차순 정렬
print(sorted(dic.items())) # key를 기준으로 오름차순 정렬
print(sorted(dic.items(), key=lambda x:x[1], reverse=True)) # value를 기준으로 내림차순 정렬
print(sorted(dic.items(), key=lambda x:x[1])) # value를 기준으로 오름차순 정렬

['Aimy', 'Marry', 'Michale', 'Sams', 'Tom']
['Tom', 'Sams', 'Michale', 'Marry', 'Aimy']
['Marry', 'Tom', 'Sams', 'Michale', 'Aimy']
['Aimy', 'Michale', 'Sams', 'Tom', 'Marry']
**************************************************
[('Tom', 2024), ('Sams', 2111), ('Michale', 2199), ('Marry', 1002), ('Aimy', 9231)]
[('Aimy', 9231), ('Marry', 1002), ('Michale', 2199), ('Sams', 2111), ('Tom', 2024)]
[('Aimy', 9231), ('Michale', 2199), ('Sams', 2111), ('Tom', 2024), ('Marry', 1002)]
[('Marry', 1002), ('Tom', 2024), ('Sams', 2111), ('Michale', 2199), ('Aimy', 9231)]