<a href="https://colab.research.google.com/github/hyemiJ/data-dynamics/blob/main/python_practice/_01_%EC%B4%88%EB%B3%B4%EC%9E%90%EB%A5%BC_%EC%9C%84%ED%95%9C_python_200%EC%A0%9C_%EC%88%AB%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#사용자 입력 받기
user_input = input('사용자 입력 받기 :')
print('입력 내용 :',user_input)

사용자 입력 받기 :안녕
입력 내용 : 안녕

In [ ]:
#자료형 확인하기
print('list :',type([1,2,3]))
print('dict : ',type({'a': 1, 'b': 2}))
print('set : ',type({1,2,3}))
print('str : ', type('타입'))
print('tuple : ',type((1,2)))
print('사용자 입력값 : ',type(user_input))
def fuc():
  return 1
def fuc2():
  print('hello')
print('function : ',type(fuc()))
print('function : ',type(fuc2()))

list : <class 'list'>
dict :  <class 'dict'>
set :  <class 'set'>
str :  <class 'str'>
tuple :  <class 'tuple'>
사용자 입력값 :  <class 'str'>
function :  <class 'int'>
hello
function :  <class 'NoneType'>

In [ ]:
# 나눗셈에서 나머지 구하기
a = 10
b = 3
ret = a%b
print(f"{a} 나누기 {b}는 나머지가 {ret} 입니다.")
# 몫과 나머지 구하기
print('몫',a//b)
print('나머지',a%b)
print('몫, 나머지 :',divmod(a,b))
print(type(divmod(a,b)))
ret1, ret2 = divmod(a,b)
print(f"몫 :{ret1}, 나머지 :{ret2} divmod 함수로 tuple로 한번에")

10 나누기 3는 나머지가 1 입니다.
몫 3
나머지 1
몫, 나머지 : (3, 1)
<class 'tuple'>
몫 :3, 나머지 :1 divmod 함수로 tuple로 한번에

In [ ]:
# 10진수 -> 16진수
h1 = hex(91)
h2 = hex(92)
print(f"16진수 변환 결과 hex(91) :{h1}")
print(f"16진수 변환 결과의 타입: {type(h1)}")
h3 = h1+h2 # 문자열의 합산이 이루어짐.
print(h3)

16진수 변환 결과 hex(91) :0x5b
16진수 변환 결과의 타입: <class 'str'>
0x5b0x5c

In [ ]:
#16진수 -> 10진수
a = int(h1,16) # 합산을 위한 int 형변환
b = int(h2,16)
print(a,b)
c = a+b
print('10진수 :',c)
print('16진수 :',hex(c))

91 92
10진수 : 183
16진수 : 0xb7

In [ ]:
#10진수 -> 2진수
b1 = bin(91)
b2 = bin(92)
print(f"2진수 변환 결과 bin(91) :{b1}")
print(f"2진수 변환 결과의 타입: {type(b1)}")
b3 = b1+b2 # 문자열의 합산이 이루어짐.
print(b3)

2진수 변환 결과 bin(91) :0b1011011
2진수 변환 결과의 타입: <class 'str'>
0b10110110b1011100

In [ ]:
#2진수 -> 10진수
a = int(b1,2) # 합산을 위한 int 형변환
b = int(b2,2)
print(a,b)
c = a+b
print('10진수 :',c)
print('2진수 :',bin(c))

91 92
10진수 : 183
2진수 : 0b10110111

In [ ]:
#절대값 구하기
abs1 = abs(-2)
abs2 = abs(2)
abs3 = abs(-3.2)
abs4 = abs(3.2)
abs5 = abs(3+4j) # 복소수의 절대값
print(f'-2 :{abs1} , 2 :{abs2}')
print(f'-3.2 :{abs3} , 3.2 :{abs4}')
print('복소수의 절대값: ',abs5)

-2 :2 , 2 :2
-3.2 :3.2 , 3.2 :3.2
복소수의 절대값:  5.0

In [ ]:
#반올림 구하기
ret1 = round(12345)
ret2 = round(12.12345) #default
ret3 = round(12.12345,2)
ret4 = round(12.12345,-1)
ret5 = round(17.12345,-1)
print('두번째 인자 없음 :',ret1)
print('두번째 인자 없음 :',ret2)
print('두번째 인자 2:',ret3)
print('두번째 인자 -1:',ret4)
print('두번째 인자 -1:',ret5)

두번째 인자 없음 : 12345
두번째 인자 없음 : 12
두번째 인자 2: 12.12
두번째 인자 -1: 10.0
두번째 인자 -1: 20.0

In [ ]:
#실수자료형 -> 정수자료형
i1 = int(5.4)
i2 = int(5.8)
i3 = int(-5.5)
print(i1,i2,i3) #소숫점 이하를 버린다.

5 5 -5

In [ ]:
#정수자료형 -> 실수자료형
f1 = float(5)
f2 = float(-5)
print(f1,f2)

5.0 -5.0

In [ ]:
#정수 리스트에서 소수만 걸러내기
def get_prime(data):
  for i in range(2,data-1):
    if  data % i ==0:
      break
    else :
      return data
data_list = [117, 118, 119, 120]
result = filter(get_prime,data_list)
print(result)
print(list(result))

<filter object at 0x7de8b9944040>
[117, 119]

In [ ]:
#정수를 인자로 받아 해당 모든 소수 구하기
def get_all_prime(data):
  return_data = [2, 3]
  if data <=3:
    return return_data

  for i in range(4,data+1):
    for j in range(2,i-1):
      if i%j == 0:break

    else: return_data.append(i)

  return return_data

print(get_all_prime(10))

[2, 3, 5, 7]

In [ ]:
#min / max
def min_max(data):
  max_data = max(data)
  min_data = min(data)
  print(f'데이터의 타입은 :{type(data)}')
  print(f'max : {max_data}, min : {min_data}')

min_max([1,2,3,4,5])
min_max((1,2,3,4,5))
min_max('abcdeABCDE')
min_max(['abc','a12'])

데이터의 타입은 :<class 'list'>
max : 5, min : 1
데이터의 타입은 :<class 'tuple'>
max : 5, min : 1
데이터의 타입은 :<class 'str'>
max : e, min : A
데이터의 타입은 :<class 'list'>
max : abc, min : a12