<a href="https://colab.research.google.com/github/hyemiJ/data-dynamics/blob/main/python_practice/_02_%EC%B4%88%EB%B3%B4%EC%9E%90%EB%A5%BC_%EC%9C%84%ED%95%9C_python_200%EC%A0%9C_%EB%AC%B8%EC%9E%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#특정 문자열 위치에서 문자 얻기 (indexing)
txt = 'a tale that was not rright'
print(txt[5])
print(txt[7:11])

e
that

In [ ]:
#특정 문자열의 홀수 추출
print(txt[::2])

atl htwsntrih

In [ ]:
#특정 문자열 뒤집기
print(txt[::-1])

thgirr ton saw taht elat a

In [ ]:
#문자열 합치기
a = 'abcde'
b = 'fghjk'
print(a+b)
print(a,b) #공백이 추가로 생김
print('%s%s'%(a,b))
print(f'{a}{b}')

abcdefghjk
abcde fghjk
abcdefghjk
abcdefghjk

In [ ]:
#문자열 반복
print(a*3)

abcdeabcdeabcde

In [ ]:
# 문자열에서 포함관계인지 확인하기
if 'a' in 'abcd':
  print('a in data')
else :
  print( 'not in data')

if 'abc' in a:
  print('a에는 abc가 있어. a:',a)

lst = ['A','B','C']
for l in lst:
  if l in ['B','A']:
    print('l은 b,a에 속한다',l)

a in data
a에는 abc가 있어. a: abcde
l은 b,a에 속한다 A
l은 b,a에 속한다 B

In [ ]:
h = '안녕하세요'
p = 'python'
print(f'h:{h}, p:{p}')
print(f'h:{len(h)}, p:{len(p)}')
print(f'h:{len(h.encode())}, p:{len(p.encode())}') #한글을 바이트 객체로 비교 : 1글자당 3 바이트

h:안녕하세요, p:python
h:5, p:6
h:15, p:6

In [ ]:
# 문자열이 모두 알파벳인지

i = '1' #숫자형 문자
s = 'string'
si = 'string23' #혼합문자
s_s = 'string string' # 혼합문자 및 공백
ss = 'stringstring'#혼합문자
print(i.isalpha())
print(s.isalpha())
print(si.isalpha())
print(s_s.isalpha())
print(ss.isalpha())

False
True
False
False
True

In [ ]:
# 문자열이 모두 숫자인지
pn = '010-0000-0000'
n = '12345'
f = '1.234'# .은 기호이다
ns = 'RD2RD3'
print(pn.isdigit())
print(n.isdigit())
print(f.isdigit())
print(ns.isdigit())

False
True
False
False

In [ ]:
# 문자열이 숫자 또는 문자인지
q = '안녕하세요?'
s = '1.python'
ns = '4도4도또4고싶다'
print(q.isalnum())
print(s.isalnum())
print(ns.isalnum())

False
False
True

In [ ]:
# 대소문자 변환
txt = 'A lot of Things occur each day'
print(txt.upper())
print(txt.lower())

A LOT OF THINGS OCCUR EACH DAY
a lot of things occur each day

In [ ]:
# 양쪽 공백제거
txt = '   양쪽 공백이 있는 문자열   '
print('1',txt.rstrip(),'.')
print('2',txt.lstrip(),'.')
print('3',txt.strip(),'.')

1    양쪽 공백이 있는 문자열 .
2 양쪽 공백이 있는 문자열    .
3 양쪽 공백이 있는 문자열 .

In [ ]:
#문자열의 숫자 변환
numstr = input('숫자를 입력하세요')
try:
  num = int(numstr)
  print('입력(정수) :',num)
except:
  try:
    num= float(num)
    print('입력(실수) :',num)
  except:
    print('숫자로 입력하세요')

숫자를 입력하세요5.342
숫자로 입력하세요

In [ ]:
#문자열의 개수 구하기
txt = 'A lot of Things occur each day'
print(txt.count('a'))
print(txt.count('A')) #대 소문자를 가린다

2
1

In [ ]:
#문자열의 위치 찾기
print(txt.find('A'))
print(txt.find('a')) # 맨 처음에 찾은 것이 반환
print(txt.find('a',24))#상수 인덱스 이후부터 찾는것 을반환
print(txt.find('of'))

0
23
28
6

In [ ]:
#문자를 분리하기
url = "https://www.naver.com/newstoday=20250403"
print(url.split('/'))
log = "name:홍길동 age:30 h:180 w:80"
log_data = log.split()
print(log_data)
for data in log_data:
  d1,d2 = data.split(":")
  print(d1,d2)

['https:', '', 'www.naver.com', 'newstoday=20250403']
['name:홍길동', 'age:30', 'h:180', 'w:80']
name 홍길동
age 30
h 180
w 80

In [ ]:
#문자 결합하기
pn = ['010','1111','2222']
print('-'.join(pn))

010-1111-2222

In [ ]:
#문자 치환하기
pw = "나의 비밀번호는 10232102"
print(pw.replace('1','*')) #모두 찾아 바꿈
print(pw)

나의 비밀번호는 *0232*02
나의 비밀번호는 10232102

In [ ]:
a = 'fbc153'
b = 'fbc153'
a2 = sorted(a) #list형태로 sort
print(a) #원본 변경은 없음
print(a2)
b2 = sorted(b,reverse=True)
print(b)
print(b2)

fbc153
['1', '3', '5', 'b', 'c', 'f']
fbc153
['f', 'c', 'b', '5', '3', '1']