<a href="https://colab.research.google.com/github/hyemiJ/data-dynamics/blob/main/python_practice/_python_institute_PEP_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
#PEP 8
! pip install pycodestyle

Requirement already satisfied: pycodestyle in /usr/local/lib/python3.11/dist-packages (2.14.0)

In [22]:
%%writefile tab_error.py
#TabError

def my_fun_one(x, y):
  return x * y

def my_fun_two(a, b):
      return a + b

Writing tab_error.py

In [23]:
!pycodestyle tab_error.py

tab_error.py:1:1: E265 block comment should start with '# '
tab_error.py:4:3: E111 indentation is not a multiple of 4
tab_error.py:6:1: E302 expected 2 blank lines, found 1
tab_error.py:7:7: E111 indentation is not a multiple of 4
tab_error.py:7:7: E117 over-indented

In [18]:
# O
! pycodestyle

def my_fun_one(x, y):
  return x * y

def my_fun_two(a, b):
  return a + b

Usage: pycodestyle [options] input ...

pycodestyle: error: input not specified

In [24]:
%%writefile line_error.py
# X Continuation lines

my_list = [ 1, 2, 3,
    4, 5, 6
]

a = my_fun_one(10,
    20)

Writing line_error.py

In [25]:
!pycodestyle line_error.py

line_error.py:3:12: E201 whitespace after '['
line_error.py:4:5: E128 continuation line under-indented for visual indent
line_error.py:5:1: E124 closing bracket does not match visual indentation
line_error.py:8:5: E128 continuation line under-indented for visual indent

In [ ]:
# O

my_list = [1, 2, 3,
           4, 5, 6]

a = my_fun_one(10,
               20)

def my_fun(
      a, b, c,
      d, e, f):
  return (a + b + c) * (d + e + f)

my_list =[
    1, 2, 3,
    4, 5, 6,
]

In [26]:
%%writefile max_len_error.py
# X maxiumum
print("A foolish consistency is the hobgoblin of little minds. - Ralph Waldo Emerson's essay \"Self-Reliance\"")

Writing max_len_error.py

In [27]:
!pycodestyle max_len_error.py

max_len_error.py:2:80: E501 line too long (112 > 79 characters)

In [30]:
apples = 1
pears = 2
grapes = 3
black_currants = 4
red_currants = 5
bananas = 6
oranges = 7

In [31]:
# 연산자 사용 추천
total = (apples
         + pears
         +grapes
         - (black_currants - red_currants)
         - bananas
         + oranges)

In [32]:
# 클래스와 함수 사이의 빈 2줄

class ClassOne():
  pass


class ClassTwo():
  pass


def my_fun_one():
  pass

In [33]:
# 메서드 사이의 빈 1줄

class MyClass():
  def my_method_one(self):
    pass

  def my_method_two(self):
    pass

In [35]:
%%writefile function.py
# 함수 내 빈 1줄

def calculate_avg():
  how_many_number = int(input("How many numbers ? :"))

  if how_many_number > 0:
    sum_of_numbers = 0
    for i in range(0, how_many_number):
      number = float(int("Enter a number :"))
      sum_of_numbers += number

    average = sum_of_numbers / how_many_number

    return average
  else:
    return "Noting happens"

Writing function.py

In [36]:
!pycodestyle function.py

function.py:4:3: E111 indentation is not a multiple of 4
function.py:6:3: E111 indentation is not a multiple of 4
function.py:9:7: E111 indentation is not a multiple of 4
function.py:10:7: E111 indentation is not a multiple of 4
function.py:11:1: W293 blank line contains whitespace
function.py:15:3: E111 indentation is not a multiple of 4

In [37]:
#import

#X
import os,sys

In [38]:
# o
import os
import sys
from subprocess import Popen, PIPE

In [39]:
# O
#import animals.mammals.dogs.puppies

# X
#from animals import *

In [40]:
dog = [1, 2, 3]

In [41]:
# 과도한 공백
my_dog = (dog[ 2 ], 1 , {1 : '123' }, '456' )
if 1 in my_dog : print( "Hello!" ) ; print ( "Bye!" )

Hello!
Bye!

In [44]:
# dataset
a = [1, 2, 3, 4, 5, 6]
b = ['a', 'b', 'c', 'd', 'e', 'f']
c = [9, 8, 7, 6, 5, 4]

my_dict = dict()

In [43]:
#슬라이싱 표현식의 공백사용
print(a[0 : 3], b[1 : 5 : 2], c[3: 4])
print(a[1 : : 4])

[1, 2, 3] ['b', 'd'] [6]
[2, 6]

In [46]:
# 뒤의 공백 사용
my_tuple = (0, 1, 2, )
my_fun_two (1, 2)
my_dict ['1'] = my_list [0]

In [ ]:
# 연산의 공백 사용

a         = 1
b         = a        + 2
my_string = 'string' * 2

In [1]:
# 연산자의 공백 사용 X
x=1
x=x+3
x-=1

x = x * 2 - 1
x = (x - 1) * (x + 2)

In [2]:
# 연산자의 공백 사용 O
x = x + 3
x =- 1

x = x*2 - 1
x = (x-1) * (x+2)

In [3]:
# X 키워드 인수 공백 사용

def my_function(x, y = 2):
  return x * y

In [4]:
# O 키워드 인수 공백 사용

def my_function(x, y=2):
  return x * y

In [5]:
#Program that calculates body mass index (BMI).  <-대문자 작성 및 마침표가 있는 완전형 문장

height = float(input("Your height in meters: "))
weight = float(input("Your weight in kg: "))

bmi = weight / (height ** 2)
print("Your BMI is", bmi)

Your height in meters: 190
Your weight in kg: 80
Your BMI is 0.00221606648199446

In [8]:
#블록 주석
def calculate_product():
  # Calculater the average of three numbers obtained from the user.  Then
  # multiply the result by 4.17, and assign it to the product variable.
  #
  # Return the value passed to the product variable and use it
  # for the subsequent x to y calculations to speed up the process.
  sum_of_numbers = 0
  for i in range(0, 3):
    number = float(input("Enter a number: "))
    sum_of_numbers += number

  average = (sum_of_numbers / 3) * 4.17
  product = average
  return product

product = calculate_product()
x = product * 1.73
y = x ** 2
x_to_y = (x*y) / 1.05

Enter a number: 5
Enter a number: 5
Enter a number: 5

In [9]:
#인라인 주석
counter = 0          # Initialize the counter.

In [11]:
a = 0
a += 1               # Increment a.

In [12]:
a = 'Adam' # X
user_first_name = 'Adam' # O

In [ ]:
# docstring
def fun(x, y):
  """Convert x and y to strings,
  and return a list of strings.
  """

In [ ]:
def fun(x):
  """Return the square root of x."""

In [ ]:
class Sample:
  var = 0
  def __init__(self):
    self.var = 0

  @classmethod
  def class_m(cls):
    cls.var += 1
    return cls.var

  def instance_m(self):
    self.var += 1
    return self.var

In [2]:
# X
x = None

if x == None:
  print("X is None")

X is None

In [3]:
# O
if x is None:
  print("X is None")

X is None

In [4]:
my_boolean_value = 2 > 1

# X
if my_boolean_value == True:
  print("True")
else:
  print("False")

# O
if my_boolean_value:
  print("True")
else:
  print("False")

True
True

In [5]:
# X
if not x is None:
  print("X is not None")

# O
if x is not None:
  print("X is not None")

In [6]:
try:
  import my_module
except:
  print("Exception!")

Exception!

In [8]:
try:
  import my_module
except ImportError:
  print("Import Exception!")

Import Exception!

In [9]:
name = "AdamPark"

# X
if name[:4] == 'Adam':
  print(name)

# O
if name.startswith('Adam'):
  print(name)

AdamPark
AdamPark