<a href="https://colab.research.google.com/github/hyemiJ/data-dynamics/blob/main/python_practice/PCPP1_Example/_python_institute_File_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# XML 다시보기
# - 예제 파일 만들기
cars = """<?xml version = "1.0" encoding = "utf-8"?>
<!-- cars.xml - List of cars ready to sell -->
<!DOCTYPE cars_for_sale SYSTEM "cars.dtd">
<cars_for_sale>
	<car>
    	<id>1</id>
        <brand>Ford</brand>
        <model>Mustang</model>
        <production_year>1972</production_year>
        <price currency="USD">35900</price>
	</car>
    <car>
    	<id>2</id>
        <brand>Aston Martin</brand>
        <model>Rapide</model>
        <production_year>2010</production_year>
        <price currency="GBP">32000</price>
	</car>
</cars_for_sale>
"""
with open("cars.xml", "w") as f:
    f.write(cars)

In [ ]:
import xml.etree.ElementTree as ET
tree = ET.parse("cars.xml") # 트리 객체 생성
root = tree.getroot() # 루트 요소 접근

type(root)

xml.etree.ElementTree.Element

In [ ]:
import xml.etree.ElementTree as ET

root = ET.fromstring(cars)

type(root)

xml.etree.ElementTree.Element

In [ ]:
#요소 접근
import xml.etree.ElementTree as ET
tree = ET.parse("cars.xml") # 트리 객체 생성
root = tree.getroot() # 루트 요소 접근
print("root.tag ::", root.tag)
print("root.attrib ::", root.attrib)
print("root에는 다음과 같은 자식 요소들이 있다.")
for child in root:
  print("child.tag ::",child.tag)
  print("child.attrib ::",child.attrib)

root.tag :: cars_for_sale
root.attrib :: {}
root에는 다음과 같은 자식 요소들이 있다.
child.tag :: car
child.attrib :: {}
child.tag :: car
child.attrib :: {}

In [ ]:
import xml.etree.ElementTree as ET
tree = ET.parse("cars.xml") # 트리 객체 생성
root = tree.getroot() # 루트 요소 접근

print(root.tag,":")
print("="*30)
for car in root:
  print('id ::', car[0].text)
  print('brand ::', car[1].text)
  print('model ::', car[2].text)
  print('currency ::', car[3].attrib['currency'])
  print('price ::', car[3].text)
  print("="*30)

cars_for_sale :
==============================
id :: 1
brand :: Ford
model :: Mustang
production_year :: 1972
currency :: USD
price :: 35900
==============================
id :: 2
brand :: Aston Martin
model :: Rapide
production_year :: 2010
currency :: GBP
price :: 32000
==============================

In [ ]:
import xml.etree.ElementTree as ET

tree = ET.parse("cars.xml") # 트리 객체 생성
root = tree.getroot() # 루트 요소 접근

for brand in root.iter('brand'):
  print(brand.text)

Ford
Aston Martin

In [ ]:
import xml.etree.ElementTree as ET

tree = ET.parse("cars.xml") # 트리 객체 생성
root = tree.getroot() # 루트 요소 접근

for car in root.findall("car"):          #직계 자식만 찾음
  print(car.find("brand").text)

  price = car.find("price")
  print(price.attrib['currency'])        #attrib 를 활용하여 요소 속성에 접근
  print(price.get("currency"))           # get()을 활용하여 요소 속성에 접근

Ford
USD
USD
Aston Martin
GBP
GBP

In [ ]:
import xml.etree.ElementTree as ET

tree = ET.parse("cars.xml") # 트리 객체 생성
root = tree.getroot() # 루트 요소 접근

print(root.find('car').find('price').get('currency'))
print(root.find('car').find('price').text)

USD
35900

In [ ]:
#문서 수정
import xml.etree.ElementTree as ET

tree = ET.parse("cars.xml") # 트리 객체 생성
root = tree.getroot() # 루트 요소 접근
for child in root:
  child.tag = "car_update"        #child 요소 이름 변경
  print(child.tag, child.attrib)
  for sub_child in child:
    print(sub_child.tag, sub_child.text)

car_update {}
id 1
brand Ford
model Mustang
production_year 1972
price 35900
car_update {}
id 2
brand Aston Martin
model Rapide
production_year 2010
price 32000

In [ ]:
#문서 요소 제거
import xml.etree.ElementTree as ET


tree = ET.parse("cars.xml") # 트리 객체 생성
root = tree.getroot() # 루트 요소 접근

for child in root:
  child.remove(child.find('production_year'))    #요소 지우기
  print(child.tag,":")
  for sub_child in child:
    print(sub_child.tag,"::", sub_child.text)

car :
id :: 1
brand :: Ford
model :: Mustang
price :: 35900
car :
id :: 2
brand :: Aston Martin
model :: Rapide
price :: 32000

In [ ]:
# 정말 지워졌나 확인
import xml.etree.ElementTree as ET
tree = ET.parse("cars.xml") # 트리 객체 생성
root = tree.getroot() # 루트 요소 접근

print(root.tag,":")
print("="*30)
for car in root:
  print('id ::', car[0].text)
  print('brand ::', car[1].text)
  print('model ::', car[2].text)
  print("지워지지 않았나봐 ::",car[3].text)
  print('currency ::', car[4].attrib['currency'])
  print('price ::', car[4].text)
  print("="*30)

cars_for_sale :
==============================
id :: 1
brand :: Ford
model :: Mustang
지워지지 않았나봐 :: 1972
currency :: USD
price :: 35900
==============================
id :: 2
brand :: Aston Martin
model :: Rapide
지워지지 않았나봐 :: 2010
currency :: GBP
price :: 32000
==============================

In [ ]:
import xml.etree.ElementTree as ET


tree = ET.parse("cars.xml") # 트리 객체 생성
root = tree.getroot() # 루트 요소 접근

for child in root:
  child.find("price").set("currency", "EUR")
  print(child.tag,":")
  for sub_child in child:
    if sub_child.tag == "price":
      print(f"({sub_child.get('currency')})", end=" ")
    print(sub_child.tag,"::", sub_child.text)

car :
id :: 1
brand :: Ford
model :: Mustang
production_year :: 1972
(EUR) price :: 35900
car :
id :: 2
brand :: Aston Martin
model :: Rapide
production_year :: 2010
(EUR) price :: 32000

In [ ]:
# 변경사항 저장
import xml.etree.ElementTree as ET


tree = ET.parse("cars.xml") # 트리 객체 생성
root = tree.getroot() # 루트 요소 접근

for child in root:
  child.find("price").set("currency", "EUR")
  print(child.tag,":")
  for sub_child in child:
    if sub_child.tag == "price":
      print(f"({sub_child.get('currency')})", end=" ")
    print(sub_child.tag,"::", sub_child.text)

tree.write("cars_update.xml",'UTF-8',True)   # 저장

car :
id :: 1
brand :: Ford
model :: Mustang
production_year :: 1972
(EUR) price :: 35900
car :
id :: 2
brand :: Aston Martin
model :: Rapide
production_year :: 2010
(EUR) price :: 32000

In [ ]:
#변경 사항 확인
import xml.etree.ElementTree as ET


tree = ET.parse("cars_update.xml") # 트리 객체 생성
root = tree.getroot() # 루트 요소 접근

for child in root:
  print(child.tag,":")
  for sub_child in child:
    if sub_child.tag == "price":
      print(f"({sub_child.get('currency')})", end=" ")
    print(sub_child.tag,"::", sub_child.text)

car :
id :: 1
brand :: Ford
model :: Mustang
production_year :: 1972
(EUR) price :: 35900
car :
id :: 2
brand :: Aston Martin
model :: Rapide
production_year :: 2010
(EUR) price :: 32000

In [ ]:
# 요소 만들기
import xml.etree.ElementTree as ET

root = ET.Element('data')
ET.dump(root)

<data />

In [ ]:
# 자식 요소 만들기
import xml.etree.ElementTree as ET

root = ET.Element('data')
mv_1 = ET.SubElement(root, 'movie', {'title': 'The Little Prince', 'rate': '5'})
mv_2 = ET.SubElement(root, 'movie', {'title': 'The Lion King', 'rate': '4'})
ET.dump(root)

<data><movie title="The Little Prince" rate="5" /><movie title="The Lion King" rate="4" /></data>

In [ ]:
<data>
  <movie title="The Little Prince" rate="5" />
  <movie title="The Lion King" rate="4" />
</data>