<a href="https://colab.research.google.com/github/hyemiJ/data-dynamics/blob/main/python_practice/PCPP1_Example/_python_institute_File_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#sqlite3

import sqlite3

In [ ]:
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully")

Opened database successfully

In [ ]:
conn = sqlite3.connect("C:\sqlite\db\pythonsqlite.db")

In [ ]:
conn = sqlite3.connect(':memory:')

In [ ]:
import sqlite3


conn = sqlite3.connect('todo.db')
sql = """CREATE TABLE todo(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    priority INTEGER NOT NULL
)"""
cursor = conn.cursor()
cursor.execute(sql)

In [ ]:
import sqlite3


conn = sqlite3.connect('todo.db')
sql = """CREATE TABLE IF NOT EXISTS todo(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    priority INTEGER NOT NULL
)"""
cursor = conn.cursor()
cursor.execute(sql)
conn.commit()
conn.close()

In [ ]:
import sqlite3


conn = sqlite3.connect('todo.db')
sql = """CREATE TABLE IF NOT EXISTS todo(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    priority INTEGER NOT NULL
)"""
cursor = conn.cursor()
cursor.execute(sql)
conn.commit()
sql = """INSERT INTO todo (name,priority) VALUES (?,?)"""
cursor = conn.cursor()
cursor.execute(sql,('todo1',1))
conn.commit()
conn.close()

In [ ]:
import sqlite3


conn = sqlite3.connect('todo.db')
sql = """CREATE TABLE IF NOT EXISTS todo(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    priority INTEGER NOT NULL
)"""
cursor = conn.cursor()
cursor.execute(sql)
conn.commit()
sql = """INSERT INTO todo (name,priority) VALUES (?,?)"""
cursor = conn.cursor()
cursor.execute(sql,('todo1',1))
conn.commit()
conn.close()

In [ ]:
import sqlite3


conn = sqlite3.connect('todo.db')
sql = """CREATE TABLE IF NOT EXISTS todo(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    priority INTEGER NOT NULL
)"""
cursor = conn.cursor()
cursor.execute(sql)
conn.commit()
sql = """INSERT INTO todo (name,priority) VALUES (?,?)"""
cursor.execute(sql,('todo1',1))
conn.commit()
conn.close()

In [ ]:
#excutemany()
import sqlite3


conn = sqlite3.connect('todo.db')
sql = """CREATE TABLE IF NOT EXISTS todo(
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    priority INTEGER NOT NULL
)"""
cursor = conn.cursor()
cursor.execute(sql)
todo =[
    ('todo1',1),
    ('todo2',2),
    ('todo3',3)
]
sql = """INSERT INTO todo (name,priority) VALUES (?,?)"""
cursor.executemany(sql,todo)
conn.commit()
conn.close()

In [ ]:
class Todo:
  def __init__(self):
      self.conn = sqlite3.connect('todo.db')
      self.cursor = self.conn.cursor()
      self.create_table()

  def create_table(self):
      sql = """CREATE TABLE IF NOT EXISTS todo(
          id INTEGER PRIMARY KEY,
          name TEXT NOT NULL,
          priority INTEGER NOT NULL
      )"""
      self.cursor.execute(sql)

  def insert(self):
      name = input("Enter name: ")
      priority = input("Enter priority: ")
      sql = """INSERT INTO todo (name,priority) VALUES (?,?)"""
      self.cursor.execute(sql,(name,priority))
      self.conn.commit()

  def close(self):
      self.conn.close()

In [ ]:
app = Todo()
app.insert()
app.close()

Enter name: Study
Enter priority: 3

In [ ]:
#SELECT
import sqlite3

conn = sqlite3.connect('todo.db')
sql = """SELECT * FROM todo"""
cursor = conn.cursor()
for row in cursor.execute(sql):
  print(row)
conn.close()

(1, 'todo1', 1)
(2, 'todo1', 1)
(3, 'todo1', 1)
(4, 'Study', 3)

In [ ]:
import sqlite3

conn = sqlite3.connect('todo.db')
sql = """SELECT * FROM todo"""
cursor = conn.cursor()
cursor.execute(sql)
rows = cursor.fetchall()
for row in rows:
  print(row)
conn.close()

(1, 'todo1', 1)
(2, 'todo1', 1)
(3, 'todo1', 1)
(4, 'Study', 3)

In [ ]:
import sqlite3

conn = sqlite3.connect('todo.db')
sql = """SELECT * FROM todo"""
cursor = conn.cursor()
cursor.execute(sql)
row = cursor.fetchone()
print(row)
row = cursor.fetchone()
print(row)
conn.close()

(1, 'todo1', 1)
(2, 'todo1', 1)

In [ ]:
#UPDATE
import sqlite3

conn = sqlite3.connect('todo.db')
sql = """UPDATE todo SET name = ? WHERE id = ?"""
cursor = conn.cursor()
cursor.execute(sql,('UPDATE',1))
conn.commit()
sql = """SELECT * FROM todo"""
cursor.execute(sql)
rows = cursor.fetchall()
for row in rows:
  print(row)
conn.close()

In [ ]:
conn = sqlite3.connect('todo.db')
sql = """SELECT * FROM todo"""
cursor = conn.cursor()
cursor.execute(sql)
rows = cursor.fetchall()
for row in rows:
  print(row)
conn.close()

(1, 'UPDATE', 1)
(2, 'todo1', 1)
(3, 'todo1', 1)
(4, 'Study', 3)

In [ ]:
#DELETE
import sqlite3

conn = sqlite3.connect('todo.db')
sql = """DELETE FROM todo WHERE id = ?"""
cursor = conn.cursor()
cursor.execute(sql,(1,))# (1)의 형태는 ProgrammingError: parameters are of unsupported type
conn.commit()
sql = """SELECT * FROM todo"""
cursor.execute(sql)
rows = cursor.fetchall()
for row in rows:
  print(row)
conn.close()

(2, 'todo1', 1)
(3, 'todo1', 1)
(4, 'Study', 3)